{%extends 'base.html'%}
{%load static%}

{%block title%}
    Info about item
{%endblock title%}

{%block content%}
<h1 class="text-center secfonts m-3 wow fadeInLeft">All informations about item </h1>

<h4 class="text-center secfonts m-3 wow fadeInLeft">Don't try to fool our site) </h4>
    

<br><br><br>


<h2 class="text-center fonts-h wow fadeInLeft"> <img src="{{ new_post.image.url }}"  alt=""></h2>


<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h2 class="p-4 fonts-h wow fadeInLeft">Name: {{new_post.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            {%if new_post.rare == 'Common'%}
            <h2 class="secfonts p-4 wow fadeInLeft" >Rarity : <em class="common">{{new_post.rare}}</em></h2>
            {%elif new_post.rare == 'Uncommon' %}
            <h2 class="secfonts p-4 wow fadeInLeft" >Rarity :<em class="uncommon">{{new_post.rare}}</em></h2>
            {%elif new_post.rare == 'Rare' %}
            <h2 class="secfonts p-4 wow fadeInLeft" >Rarity : <em class="rare">{{new_post.rare}}</em></h2>
            {%elif new_post.rare == 'Mythical' %}
            <h2 class="secfonts p-4 wow fadeInLeft" >Rarity : <em class="mythical">{{new_post.rare}}</em></h2>
            {%elif new_post.rare == 'Legendary' %}
            <h2 class="secfonts p-4 wow fadeInLeft" >Rarity : <em class="legendary">{{new_post.rare}}</em></h2>
            {%elif new_post.rare == 'Immortal' %}
            <h2 class="ecfonts p-4 wow fadeInLeft" >Rarity : <em class="immortal">{{new_post.rare}}</em> </h2>
            {%elif new_post.rare == 'Arcana' %}
            <h2 class="secfonts p-4 wow fadeInLeft" >Rarity : <em class="arcana">{{new_post.rare}}</em></h2>
            {%elif new_post.rare == 'Ancient' %}
            <h2 class="secfonts p-4 wow fadeInLeft" >Rarity : <em class="ancient">{{new_post.rare}}</em></h2>
            {%endif%}
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <h2 class="p-4 fonts-h wow fadeInLeft">Description: {{new_post.text}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <h2 class="p-4 fonts-h wow fadeInLeft">Hero: {{new_post.hero}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <h2 class="p-4 fonts-h wow fadeInLeft">Price: {{new_post.price}} usd</h2>
        </div>
    </div>

</div>
<h2 class="text-center"><button id="myBtn" class="btn btn-danger center-center">Buy</button></h2>
<div id="mypopup" class="popup" >
    <div class="popup-content">
        <div class="popup-header">
            <h2>Ordering)</h2>
            <span class="close">&times;</span>
        </div>
        <div class="popup-body">
            <p>Name:  {{new_post.name}}</p>
            <p>Description: {{new_post.text}}</p>
            <p>Rare: {{new_post.rare}}</p>
            <p>Price {{new_post.price}} usd</p>
            <button class="btn btn-danger">Checkout</button>
        </div>
        <div class="popup-footer">
            <h3>Please check the product before placing an order.</h3>
        </div>
    </div>
</div>

{%endblock content%}